<div class="container-fluid" flow-init ng-controller='uploadCtrl'>
        <div id="titleDiv" class="row text-center">
            <h1>Tag suggestion</h1>
        </div>
        <div id="textDiv" class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">    
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">-->    
            <p class="lead">Upload a file:</p>   
                <div class="input-group">
                    <input type="file" style="display: inline" file-model="myFile"/>
                    <button type="button" class="btn btn-primary" ng-click="uploadFile()">Upload</button><br/>
                </div>
                
                <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''" ng-class="class">
                    Drag And Drop your file here
                </div>
                
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">    
                <table class="table table-striped">        
                    <tr>
                        <td>Category: </td>
                        <td>{{data.category}}</td>
                    </tr>
			
                    <tr>
                        <td>Core Tags:</td>
                        <td><div ng-repeat="tag in data.core_tags">{{tag[0]}} {{ tag[1] }}  </div></td>
                    </tr>
	 	    <tr>
			<td>Additional Tags:</td>
			<td><div ng-repeat="tag in data.additional_tags">{{tag[0]}} {{tag[1]}}</div></td>
		    <tr>
                    <tr>
                        <td>Key Words: </td>
                        <td><div ng-repeat="keyword in data.keyword">{{keyword}}</div></td>
                    </tr>  
			<td>Snippet:</td>
			<td>{{data.file_content}}</td>
                </table>
	    </div>
        </div>
</div>
