#titleDiv { padding-top: 100px; padding-bottom: 30px; }
#navDiv { padding-top: 30px; padding-bottom: 0px;}
#textDiv { padding-bottom: 10px; }
#submitDiv { padding-bottom: 10px; }
.status { padding-top:10px; padding-bottom:5px; }
.result-holder { padding-top:5px; padding-bottom:5px; }
.result-row {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 2px;
}

fieldset {
    border-radius: 1em;
}


label, input, button {
    font-size: inherit;
}

input {
    margin-left: 0px;
    margin-right: 0;
}
input:focus {
    outline: none;
}
button {
    margin: 0;
}
button:active,
button:focus {
    outline: none;
}

.bs-callout {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

ul {
    padding-left: 18px;
}
li {
    margin-bottom: 3px;
}
.fade-in {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.fade-in.ng-enter {
    opacity: 0;
}
.fade-in.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade-in.ng-leave {
    display: none;
    opacity: 0;
}
.fade-in.ng-leave.ng-leave-active {
    display: none;
    opacity: 0;
}

#graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }